#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	# Install main tools to /usr/bin
	install -D -m 755 fsuite $(CURDIR)/debian/fsuite/usr/bin/fsuite
	install -D -m 755 ftree $(CURDIR)/debian/fsuite/usr/bin/ftree
	install -D -m 755 fsearch $(CURDIR)/debian/fsuite/usr/bin/fsearch
	install -D -m 755 fcontent $(CURDIR)/debian/fsuite/usr/bin/fcontent
	install -D -m 755 fmap $(CURDIR)/debian/fsuite/usr/bin/fmap
	install -D -m 755 fread $(CURDIR)/debian/fsuite/usr/bin/fread
	install -D -m 755 fcase $(CURDIR)/debian/fsuite/usr/bin/fcase
	install -D -m 755 fedit $(CURDIR)/debian/fsuite/usr/bin/fedit
	install -D -m 755 fmetrics $(CURDIR)/debian/fsuite/usr/bin/fmetrics
	install -D -m 755 freplay $(CURDIR)/debian/fsuite/usr/bin/freplay
	install -D -m 755 fprobe $(CURDIR)/debian/fsuite/usr/bin/fprobe
	install -D -m 755 fs $(CURDIR)/debian/fsuite/usr/bin/fs
	install -D -m 755 fls $(CURDIR)/debian/fsuite/usr/bin/fls
	install -D -m 755 fprobe-engine.py $(CURDIR)/debian/fsuite/usr/share/fsuite/fprobe-engine.py
	install -D -m 755 fs-engine.py $(CURDIR)/debian/fsuite/usr/share/fsuite/fs-engine.py
	install -D -m 755 fmetrics-predict.py $(CURDIR)/debian/fsuite/usr/share/fsuite/fmetrics-predict.py
	install -D -m 755 fmetrics-import.py $(CURDIR)/debian/fsuite/usr/share/fsuite/fmetrics-import.py
	# Install shared library to /usr/share/fsuite
	install -D -m 644 _fsuite_common.sh $(CURDIR)/debian/fsuite/usr/share/fsuite/_fsuite_common.sh
	install -D -m 644 _fsuite_db.sh $(CURDIR)/debian/fsuite/usr/share/fsuite/_fsuite_db.sh

override_dh_auto_build:
	# Nothing to build - shell scripts

override_dh_auto_test:
	# Skip tests during package build
